$color-prime: #310669;
$color-primeHv: #691fca;
$white: #f5f5f5;
$whiteHv: #d9d9d9;
$gray: #323232;
$calendar-green: #36BA9E;
$calendar-gray: #B8BBBE;
$calendar-black: #697283;
$calendar-new: #E78B1C;
$calendar-blue: #79C6CF;
$calendar-red: #DB818B;
